<%- include('../includes/head.ejs') %> 
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %> 
    
    <%
        const editingMode = locals.editingMode===true;
        const requestPath = editingMode ? `/admin/edit-product/${product._id}` : "/admin/add-product";
        const title = locals.product ? product.title : "";
        const description = locals.product ? product.description : "";
        const price = locals.product ? product.price : "";
        const imageUrl = locals.product ? product.imageUrl : "https://previews.123rf.com/images/benchart/benchart1204/benchart120400018/13237662-illustration-of-a-cartoon-opened-brown-book.jpg";
    %>
    <main>
        <form class="product-form" action="<%=requestPath%>" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%=locals.invalid&&locals.invalid.title&&'invalid'%>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<%=title%>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%=locals.invalid&&locals.invalid.description&&'invalid'%>"
                    type="text" 
                    name="description" 
                    id="description" 
                    rows="5" ><%=description%></textarea>
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    class="<%=locals.invalid&&locals.invalid.price&&'invalid'%>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<%=price%>">
            </div>
            <!-- <div class="form-control">
                <label for="imageUrl">Image Source</label>
                <input 
                    class="<%=locals.invalid&&locals.invalid.imageUrl&&'invalid'%>"
                    type="url" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<%=imageUrl%>">
                <img id="img" style="margin: auto;width: 100%;display: block;" src="<%=imageUrl%>">
            </div> -->
            <div class="form-control">
                <label for="imageUrl">Image Source</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image">
                <img id="img" style="margin: auto;width: 100%;display: block;" src="<%=imageUrl%>">
            </div>
            <button class="btn" type="submit"><%=editingMode ? "Update" : "Add Product"%></button>
        </form>
    </main>
    <!-- <script>
        const img = document.getElementById('img');
        document.getElementById('imageUrl').addEventListener("input", e=>{
            img.src = e.target.value;
        });
    </script> -->
<%- include('../includes/end.ejs') %> 
