<%- include('../includes/head.ejs') %> 
</head>

<body>
    <%- include('../includes/navigation.ejs') %> 
    <main>
        <h1 style="text-align: center;">Price: $<%=price%></h1>
<%      if(products.length > 0){      %>  
            <ul style="display: flex;">
<%              products.forEach(({productId, cnt}) => { %>
                    <li style="flex-direction: column;flex-wrap: wrap;margin: auto 40px;">
                       <img id="img" style="height: 20vw;display: block;" src="<%=productId.imageUrl%>">
                        <p>
                            <%=`${productId.title} (${cnt})`%>
                        </p>
                        <div style="display: flex;justify-content: space-between;">
                            <form action="/cart-delete-item" method="POST" style="flex-grow: 1;margin: 0 5px;">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="id" value="<%=productId._id%>">
                                <button type="submit" class="btn" style="width: 100%;">Delete one</button>
                            </form>
                            <form action="/cart-delete-items" method="POST" style="flex-grow: 1;margin: 0 5px;">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="id" value="<%=productId._id%>">
                                <button type="submit" class="btn" style="width: 100%;">Delete all</button>
                            </form>
                        </div>
                    </li>
<%              }) %>    
            </ul>
            <hr>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
<%      } 
        else{                     %>
            <h1>No products in cart</h1>
<%      }                         %>
    </main>
<%- include('../includes/end.ejs') %> 
